<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" href="#" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" routerLink="users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="users/new">Nuovo Utente</a>
        </li>
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a *ngIf="!isUserLoggedIn" href="#" (click)="signIn($event)" class="nav-link">Accedi</a>
        </li>
        <li class="nav-item text-nowrap">
          <a *ngIf="!isUserLoggedIn" href="#" (click)="signUp($event)" class="nav-link">Registrati</a>
        </li>
        <li class="nav-item text-nowrap">
          <a *ngIf="isUserLoggedIn" href="#" (click)="signOut($event)" class="nav-link">Esci</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
