<table class="table table-secondary table-sm table-striped">
  <thead>
    <caption>{{ title }}</caption>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Codice Fiscale</th>
      <th>Email</th>
      <th>Cellulare</th>
      <th>Provincia</th>
      <th>Età</th>
      <th>
        <div class="row">
          <div class="col-sm-11" style="text-align: center;">
            Azioni
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr app-user *ngFor="let user of users" [user-data]="user"
    (onDeleteUser)="onDeleteUser($event)" (onSelectUser)="onSelectUser($event)">
    </tr>
  </tbody>
</table>
