<td>{{ user?.nome }}</td>  <!-- ?: nullsafe, se l'oggetto è null, parte dopo non verrà mai eseguita  -->
<td>{{ user?.cognome }}</td>
<td>{{ user?.codicefiscale }}</td>
<td>{{ user?.email }}</td>
<td>{{ user?.cellulare }}</td>
<td>{{ user?.provincia }}</td>
<td>{{ user?.eta }}</td>
<td>
  <div class="row">
    <div class="col-sm-4">
      <!-- <button class="btn btn-sm btn-secondary" (click)="showUserDetail()"> -->
      <button class="btn btn-sm btn-outline-info" [routerLink]="['/users', user?.id]"> <!-- questa riga ha lo stesso funzionamento della riga sopra -->
        <fa-icon [icon]="faInfo"></fa-icon>
      </button>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-sm btn-outline-primary" [routerLink]="['/users', user?.id, 'edit']">
        <fa-icon [icon]="faPencil"></fa-icon>
      </a>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-sm btn-outline-danger" (click)="deleteUser()">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
  </div>
</td>
